body {
  text-align: center;
  height: 100vh;
  background: linear-gradient(171deg, rgba(0, 0, 0, 0.9668242296918768) 0%, rgba(34, 32, 32, 1) 9%, rgba(59, 55, 55, 0.9108018207282913) 19%, rgba(143, 143, 143, 1) 28%, rgba(75, 72, 72, 0.9332107843137255) 36%, rgba(119, 118, 118, 0.9556197478991597) 44%, rgba(149, 149, 149, 0.8407738095238095) 53%, rgba(130, 129, 129, 1) 63%, rgba(92, 90, 90, 0.938813025210084) 72%, rgba(145, 145, 145, 1) 81%, rgba(34, 31, 31, 0.969625350140056) 93%);

}
