body {
  text-align: center;
  height: 100vh;
  background: linear-gradient(171deg, rgba(0, 0, 0, 0.8491771708683473) 0%, rgba(34, 32, 32, 0.7379726890756303) 9%, rgba(59, 55, 55, 0.7323704481792717) 19%, rgba(143, 143, 143, 0.7267682072829132) 26%, rgba(75, 72, 72, 0.7419782913165266) 34%, rgba(86, 84, 84, 0.7447794117647058) 39%, rgba(119, 118, 118, 0.735171568627451) 44%, rgba(149, 149, 149, 0.7567401960784313) 53%, rgba(130, 129, 129, 0.8015581232492998) 63%, rgba(92, 90, 90, 0.704359243697479) 72%, rgba(104, 102, 102, 0.7603816526610644) 75%, rgba(145, 145, 145, 0.7387850140056023) 81%, rgba(34, 31, 31, 0.863760504201681) 91%);

}
